html, body {
    height: 100%;
}
body {
  padding-top: 50px;
}
.sample-canvas {
  padding: 40px 15px;
  text-align: center;
}

.sales-graph {
    width:600px;
    height:300px;
}

/* #Media Queries
================================================== */

    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {}

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {}

    /* Tablet Portrait size to any max width (devices and browsers) */
    @media only screen and (min-width: 768px) {}
    
    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {}

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {}

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
        .sales-graph {
            width:400px;
            height:200px;
        }
    }
